PORT=5000

MONGODB_URI=

CHAPA_SECRET_KEY=CHASECK_TEST-xxxxxxxxxxxxxxxx

FRONTEND_URL=http://localhost:5173

SUCCESS_URL=http://localhost:5173/payment/success

CANCEL_URL=http://localhost:5173/payment/cancel
